@media (min-width: 768px) {
    .popular-carousel,
        .top-ranking-carousel {
            max-width: calc(50% - 10px);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
    }
}

.top-ranking-carousel .carousel .slide {
    background-color: #faa06e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.carousel .slide {
    background-color: #f8d7a9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.book-card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
    background-color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.book-image {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.book-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.book-card p {
    font-size: 1rem;
    color: #777;
}